---
title: Televiska
---
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= partial "partials/navigation" %>

  <main class="px-3">
    <p class="lead">we can help you deliver specialized VoIP solutions</p>
    <p> hello@televiska.com</p>
  </main>

  <%= partial "partials/footer" %>
</div>
