---
title: Televiska
---
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= partial "partials/navigation" %>

  <main class="px-3">
    <h1>Professional VoIP services</h1>
    <p class="lead">We build modern open source VoIP tools, for telecommunication companies. We start from scratch building SIP services and frameworks, using modern tools and languages.</p>
    <br>
    <p >Our goal is to be able to build and compose SIP (micro)services like you would with HTTP (micro)services, using developer friendly methods and practices (like TDD).</p>
    <br>
    <p class="lead">
      <a href="https://github.com/televiska" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
</div>
